<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
         forceCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true"
         colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="APPLICATION_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit/</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>tests/Integration/</directory>
        </testsuite>

        <testsuite name="acceptance">
            <directory>tests/Acceptance/</directory>
        </testsuite>

        <testsuite name="smoke-test">
            <directory>tests/SmokeTest/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
